<h4 class="title is-4 post-title">Tags Complementares</h4>

{% capture temptags %}
    {% for tag in site.tags %}
        {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }} 
    {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
    {% for temptag in sortedtemptags %}
    <div class="field is-grouped is-grouped-multiline columns is-centered">
        {% assign tagitems = temptag | split: '#' %}
        {% capture tagname %}
            {{ tagitems[1] }}
        {% endcapture %}

  <div class="tags has-addons control">
    <a href="{{ site.baseurl }}/tag/{{ tagname | split: ' ' }}/">
    <span class="tag is-dark is-large">
      <h1>
        #{{ tagname }}
      </h2>
    </span>
  </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
  </div>

{% endfor %}
</div>
<!-- </div>
</div> -->
