<section class="blog-posts">
    <div class="container">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="is-12 post">
                        <article class="columns featured">
                            <div class="column is-8 post-img ">
                                <img src="https://cdn.emk.dev/templates/featured-image.png" alt="">
                            </div>
                            <div class="column is-4 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category Name</h3>
                                    <h1 class="title post-title">Blog Posts Template</h1>
                                    <p class="post-excerpt">This template is based off of the official default blog template created by the fine folks over at <a href="https://ghost.io">Ghost</a>. If you are looking for a fully featured blog platform, I highly recommend checking them out!</p>
                                    <br>
                                    <p><a class="">John Smith</a></p>
                                    <time datetime="2016-1-1">1 Jan 2016 • 10 min read.</time>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                            </div>
                            <div class="is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h4 class="title is-4 post-title">Slightly Longer Blog Post Title</h4>
                                <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <p><a class="">John Smith</a></p>
                                <time datetime="2016-1-1">1 Jan 2016 • 10 min read.</time>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                            </div>
                            <div class="is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h4 class="title is-4 post-title">Slightly Longer Blog Post Title</h4>
                                <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <p><a class="">John Smith</a></p>
                                <time datetime="2016-1-1">1 Jan 2016 • 10 min read.</time>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                            </div>
                            <div class="is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h4 class="title is-4 post-title">Slightly Longer Blog Post Title</h4>
                                <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <p><a class="">John Smith</a></p>
                                <time datetime="2016-1-1">1 Jan 2016 • 10 min read.</time>
                            </div>
                        </article>
                    </div>
                    <div class="is-12 post">
                        <article class="columns featured">
                            <div class="column is-4 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category Name</h3>
                                    <h1 class="title post-title">Blog Posts Template</h1>
                                    <p class="post-excerpt">This template is based off of the official default blog template created by the fine folks over at <a href="https://ghost.io">Ghost</a>. If you are looking for a fully featured blog platform, I highly recommend checking them out!</p>
                                    <br>
                                    <p><a class="">John Smith</a></p>
                                    <time datetime="2016-1-1">1 Jan 2016 • 10 min read.</time>
                                </div>
                            </div>

                            <div class="column is-8 post-img ">
                                <img src="https://cdn.emk.dev/templates/featured-image.png" alt="">
                            </div>
                
                        </article>
                    </div>
                </div>
                <hr>
            </div>
    </div>
</section>
