<div class="column post is-4">
  <article class="columns is-multiline">
    <div class="is-12 post-img">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <figure class="image is-480x320">
          <img src="{{ post.thumb.path }}" onerror="this.onerror=null;this.src='https://bulma.io/images/placeholders/640x360.png';" alt="figure-post" height="{{ post.thumb.height }}"
           width="{{ post.thumb.width }}">
        </figure>
        </a>
    </div>
    <div>
      &nbsp;
      <h3 class="heading post-category category">
        <a href="/categories/{{ post.categories }}">
          {{ post.categories }}
        </a>
      </h3>
      <h4 class="title is-4 post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h1>
      <p class="post-excerpt">
        {{ post.description }}
      </p>
      <br>
      <p class="category">
        <a class="">{{ post.author }}</a><br>
        <time class="timeRead" datetime="2016-1-1">{{ post.date | date: "%-d %b, %Y" }} • {{ post.timeRead }}</time>
      </p>
      
    </div>
  </article>
</div>
