<header>
  {% include navbar.html %}
  <section class="blog-posts">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title is-1 is-white">{{ page.title }}</h1>
        <h4 class="subtitle is-4 font-color font-post-read">
          {{ page.description }}
        </h4>
        <hr>
        <div class="field is-grouped is-grouped-multiline columns is-centered">
          {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{%
          endcapture %}
          <div class="tags has-addons control">
              <span class="tag is-dark">
                <a href="/tag/{{ tag_name }}">
                  #{{ tag_name }}
                </a>
              </span>
          </div>
          {% endfor %}
        </div>
        <p class="category">
          <a class="">{{ page.author }}</a>
          <time class="font-color timeRead" datetime="2016-1-1">
            {{ page.date | date: "%b, %-d %Y" }} • {{ page.timeRead }}
          </time>
        </p>
      </div>
    </div>
    <div class="column is-8 is-offset-2">
      <figure class="image">
        <img src="{{ page.image.path }}" alt="banner" height="521" width="926">
      </figure>
    </div>
  </section>
</header>

