<nav class="navbar is-fixed-top bg-color column" role="navigation" aria-label="main navigation">
  <div id="pad-less" class="container column is-10 is-offset-1">
    <div id="nav-brand" class="navbar-brand">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <picture>
          <img src="/assets/images/logo-2.svg" alt="Logotipo" height="30" width="96">
        </picture>
      </a>
      <span class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ site.baseurl }}/">News</a>
        <a class="navbar-item" href="/blogPosts.html">Blog Posts</a>
        <a class="navbar-item" target="_blank" href="/assets/pdf/curriculum.pdf">CV</a>
        <a class="navbar-item" href="/contato.html">Contato</a>
      </div>

      <div class="navbar-end bg-color">
        <div class="navbar-item is-5">
          <a class="column is-4" target="_blank" href="https://www.linkedin.com/in/{{ site.social_username }}/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="column is-4" target="_blank" href="https://www.github.com/{{ site.social_username }}">
            <i class="fab fa-github"></i>
          </a>
          <a class="column is-4" target="_blank" href="https://www.twitter.com/{{ site.social_username }}">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if page.js_bundle == true %}
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
  {% endif %}
</nav>
<!-- 
<nav class="navbar is-fixed-top is-white">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item brand-text" href="#">Bulma Admim</a>
          <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
          </span>
      </div>
      <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item" href="admin.html">Home</a>
              <a class="navbar-item" href="admin.html">Orders</a>
              <a class="navbar-item" href="admin.html">Payments</a>
              <a class="navbar-item" href="admin.html">Exceptions</a>
              <a class="navbar-item" href="admin.html">Reports</a>
          </div>
      </div>
  </div>
</nav> -->