@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');


$white: #ffffff;
$cinzinha: #e4e2ff;
$text-l-green: #92a3ab;
$cinza-hr: #24272c;
$link:#15a5f8;
$link-light:#15c3f8;
$dark:#0a0a0a;
$font-color:hsla(0,0%,100%,.75);
$background-color: #191b1f;
$textcz: #757575;

$title-color: $white;
$scheme-main-bis:$dark;

#content br {display: none;}
#content p br {display: inline;}

// html {
//   font-family: 'Nunito Sans', sans-serif;
//   color:$white;
// }
.font-post-read p{
  padding-bottom: 1em !important;
}

.bg-color{
  background-color: $background-color !important;
}

.font-read{
  font-family: 'IBM Plex Serif', serif;
}
.font-color {
  color:$font-color !important;
}

.font-post-read{
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color:$font-color !important;
  font-size: 21px;
}

.va {
  display: flex;
  align-items: center;
}

.text-l-green {
  color: $text-l-green;
}

a {
  color: $white !important;
}

a:hover {
  // text-decoration: underline;
  color: $cinzinha !important;
}

.category a {
  color: $link !important;
}

.category a:hover {
  color: $link-light !important;
}

// linha divisoria
hr {
  background-color: $cinza-hr !important; 
  background:$cinza-hr;
}

.hero {
  background: #060606 !important;
}

.navbar-end a {
  color: $white;
}

.navbar-end a:hover{
  color: $cinzinha;
}

.navbar-item {
  font-weight: bold;
}

.navbar-start a {
  color: $white;
}

.navbar-start a:hover {
  color: $cinzinha !important;
  text-decoration: none;
}

.bar-margin {
  padding: 0 0.75rem 0 0.75rem !important;
}

.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.post-title {
  margin-bottom: 1rem !important;
}

.blog-posts article {
  padding: 1rem;
}

.blog-posts .post img {
  border-radius: 3px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

// .blog-posts .post .post-title {
//   font-size: 2.2rem;
// }

.post-excerpt {
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  // color: #92a3ab;
  color: $font-color;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.timeRead {
  font-weight: 500;
  color:$textcz;
}

.dark-form {
  color: $white!important;
  background-color: $background-color!important;
  border-color: $text-l-green;
}

textarea::-webkit-input-placeholder {
  color: $white!important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: $white!important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: $white!important;  
}

textarea:-ms-input-placeholder {
  color: $white!important;  
}

textarea::placeholder {
  color: $text-l-green!important;  
}

input::placeholder{
  color: $text-l-green!important;
}