@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

$white: #ffffff;
$cinzinha: #e4e2ff;
$text-l-green: #92a3ab;
$cinza-hr: #24272c;
$link:#15a5f8;
$link-light:#15c3f8;
$dark:#0a0a0a;
$font-color:#B1AFB9;
$background-color: #0f223a;
// $background-color: linear-gradient(225deg, #1E4F6C 0%, #0E1C34 100%);
$bg-code: #0f1522;
$textcz: #757575;
$textmd: #2c303b;

$title-color: $white;
$scheme-main-bis:$dark;

#content br {display: none;}
#content p br {display: inline;}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
}

nav{
  padding: 0!important;
}

.footer {
  background-color: $background-color !important;
  padding:0.5em 0 4em!important;
}

@media screen and (max-width: 1023px){
.navbar-menu {
  padding: 0;
}}
.navbar-burger {
  color: $white;
}

.font-post-read p{
  padding-bottom: 1em !important;
  color: $font-color;
}
.index-post{
  color: $font-color !important;
}

.bg-color{
  background-color: $background-color !important;
}

.font-color {
  color:$font-color !important;
}

.font-post-read{
  // font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color:$font-color !important;
  font-weight: 400;
  font-size: 16px;
}

.is-white{
  color: $white !important;
}
.is-dark{
  background-color: $dark !important;
}

.va {
  display: flex;
  align-items: center;
}

.text-l-green {
  color: $text-l-green;
}

a {
  color: $white !important;
}

a:hover {
  // text-decoration: underline;
  color: $link !important;
}

a span h1:hover{
  color: $link !important;
}
.category a {
  color: $link !important;
}

.category a:hover {
  color: $link-light !important;
}

// linha divisoria
hr {
  height: 1px;
  color: $white!important; 
  background-color: $white!important;
}

.hero-header {
  background:$background-color !important;
  // background-image: url(/assets/images/header.png)!important;
  // background-position: center center!important;
  // background-repeat: no-repeat!important;
  // background-size: cover!important;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // margin: auto;
}

.bar-light{
  height: 5px;
  margin: 0 auto;
  background: linear-gradient(16deg, rgba(20,30,46,1) 0%,rgba(0,152,219,1) 50%, rgba(20,30,46,1) 100%);
}

// .banner-header{
//   background-image: url(./images/header-index.png)!important;
//   background-position: center center!important;
//   background-repeat: no-repeat!important;
//   background-size: cover!important;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   margin: auto;
// }

.navbar-end a {
  color: $white!important;
}
.margin-container {
  margin: 0 10rem 0 10rem!important;
}

.navbar-end a:hover{
  color: $link!important;
}

.navbar-item {
  font-weight: bold;
  // padding-left: 4em;
}

.navbar-start a {
  color: $white;
  background-color: $background-color !important;
}

.navbar-start a:hover {
  color: $white !important;
  text-decoration: none;
}

.navbar-start a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: $link;
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.navbar-start a:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}
.bar-margin {
  padding: 0 0.75rem 0 0.75rem !important;
}

.blog-posts {
  min-height: 100vh;
  background: $background-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blog-posts-min {
  background: $background-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.post-title {
  margin-bottom: .5rem !important;
  color: $white !important;
}

.blog-posts article {
  padding: 1rem;
}

.blog-posts .post img {
  border-radius: 3px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

// .blog-posts .post .post-title {
//   font-size: 2.2rem;
// }

.post-excerpt {
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: $font-color;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.timeRead {
  font-weight: 500;
  color: $font-color !important;
}

.dark-form {
  color: $white!important;
  background-color: $background-color!important;
  border-color: $text-l-green;
}

textarea::-webkit-input-placeholder {
  color: $white!important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: $white!important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: $white!important;  
}

textarea:-ms-input-placeholder {
  color: $white!important;  
}

textarea::placeholder {
  color: $text-l-green!important;  
}

input::placeholder{
  color: $text-l-green!important;
}
#read {
  background: tomato;
  position: fixed;  
  height: 3.5px;  
  width: 100%;
  top: 0;
  
  &.hide { background: transparent; }
}

.footer-start{
  padding: .5rem .75rem!important;
}

.progress-container {
  position:relative;
  width: 100%;
  // height: 8px;
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: linear-gradient(16deg, rgba(20,30,46,1) 0%, rgba(9,39,121,1) 48%, rgba(0,152,219,1) 100%);
  width: 0%;
}

#pad-less{
  padding: 0rem 0.75rem 0 0.75rem !important;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff !important;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff !important;
  top: 5px;
}

#top-b{
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 1rem!important;
  float: left;
  position: fixed;
  bottom: 15%;
  right:5%;
  background: linear-gradient(16deg, rgba(20,30,46,1) 0%, rgb(20, 40, 97) 48%, rgba(0,152,219,1) 100%);
}

#top-b:hover {
  background: linear-gradient(16deg, rgba(20,30,46,1) 0%, rgb(20, 40, 97) 28%, rgba(0,152,219,1) 100%);
}

#right-items{
  direction: rtl;
  display: flex-start!important;
}

.reset-padding {
  padding: .75rem 0 .75rem 0 !important;
}

#back-to-top-btn {
  z-index: 9999;
  display: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 26px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  color: $white;
  background: linear-gradient(16deg, rgba(20,30,46,1) 0%, rgb(20, 40, 97) 48%, rgba(0,152,219,1) 100%); 
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background: $link;
}

#back-to-top-btn i{
  color: $white;
}

justify-text{
  text-align: justify !important;
  text-justify: inter-word !important;
}


@media only screen and (max-width: 600px) {
  #right-items{
    text-align: center;
  }
  #acknowledges{
    text-align: center;
  }
}

#content > div > article > figure {
  font-size: 1rem;
}

mark {
  background-color: $bg-code !important;
}
