@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');


$white: #ffffff;
$cinzinha: #e4e2ff;
$text-l-green: #92a3ab;
$cinza-hr: #24272c;
$link:#15a5f8;
$link-light:#15c3f8;
$dark:#0a0a0a;
$font-color:hsla(0,0%,100%,.75);
$background-color: #161e2e;
$textcz: #757575;

$title-color: $white;
$scheme-main-bis:$dark;

#content br {display: none;}
#content p br {display: inline;}

html {
  font-family: 'Nunito Sans', sans-serif;
  color:$white;
}

.footer {
  background-color: $background-color !important;
  padding:0.5em 0 4em!important;
}

@media screen and (max-width: 1023px){
.navbar-menu {
  padding: 0;
}}
.navbar-burger {
  color: $white;
}

.font-post-read p{
  padding-bottom: 1em !important;
  color: $white;
}
.index-post{
  color: $font-color !important;
}

.bg-color{
  background-color: $background-color !important;
}

.font-read{
  font-family: 'IBM Plex Serif', serif;
}
.font-color {
  color:$font-color !important;
}
.font-post-read p{
  font-family: 'Nunito Sans', sans-serif;
}

.font-post-read{
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color:$font-color !important;
  font-size: 21px;
}

.is-white{
  color: $white !important;
}
.is-dark{
  background-color: $dark !important;
}

.va {
  display: flex;
  align-items: center;
}

.text-l-green {
  color: $text-l-green;
}

a {
  color: $white !important;
}

a:hover {
  // text-decoration: underline;
  color: $link !important;
}

a span h1:hover{
  color: $link !important;
}
.category a {
  color: $link !important;
}

.category a:hover {
  color: $link-light !important;
}

// linha divisoria
hr {
  color: #4a4a4a!important; 
  background-color: #4a4a4a!important;
}

.hero {
  background:$background-color !important;
}

.navbar-end a {
  color: $white!important;
}
.margin-container {
  margin: 0 10rem 0 10rem!important;
}

.navbar-end a:hover{
  color: $link!important;
}

.navbar-item {
  font-weight: bold;
  // padding-left: 4em;
}

.navbar-start a {
  color: $white;
  background-color: $background-color !important;
}

.navbar-start a:hover {
  color: $white !important;
  text-decoration: none;
}

.navbar-start a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: $link;
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.navbar-start a:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.bar-margin {
  padding: 0 0.75rem 0 0.75rem !important;
}

.blog-posts {
  min-height: 100vh;
  background: $background-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.post-title {
  margin-bottom: 2rem !important;
  color: $white !important;
}

.blog-posts article {
  padding: 1rem;
}

.blog-posts .post img {
  border-radius: 3px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

// .blog-posts .post .post-title {
//   font-size: 2.2rem;
// }

.post-excerpt {
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: $font-color;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.timeRead {
  font-weight: 500;
  color:$textcz;
}

.dark-form {
  color: $white!important;
  background-color: $background-color!important;
  border-color: $text-l-green;
}

textarea::-webkit-input-placeholder {
  color: $white!important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: $white!important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: $white!important;  
}

textarea:-ms-input-placeholder {
  color: $white!important;  
}

textarea::placeholder {
  color: $text-l-green!important;  
}

input::placeholder{
  color: $text-l-green!important;
}
#read {
  background: tomato;
  position: fixed;  
  height: 3.5px;  
  width: 100%;
  top: 0;
  
  &.hide { background: transparent; }
}

.footer-start{
  padding: .5rem .75rem!important;
}