<!DOCTYPE html>
<html lang="pt-br" class="has-navbar-fixed-top">
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class="blog-posts">
      <div class="container">
        <div class="column is-10 is-offset-1">
          <div class="columns featured-post is-multiline">
            {% for post in site.posts limit:1 %} {% include
            figure-big-right.html %} {% endfor %}
          </div>
          <hr>
          <div class="columns is-multiline">
            {% for post in site.posts offset:1 limit:3 %} {% include
            figure-small3.html %} {% endfor %}
          </div>
          <hr>
          <div class="columns featured-post is-multiline">
            {% for post in site.posts limit:1 %} {% include
            figure-big-left.html %} {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
