<!DOCTYPE html>
<html amp lang="pt-br" class="has-navbar-fixed-top bg-color">
  {% include head.html %}
  <body id="top" class="bg-color">
    {% include header-post.html %}
    <section id="content" class="blog-posts">
      <div class="container">
        <article class="column is-8 is-offset-2 font-post-read">
          {{ content }}
          <hr>
        </article>
      </div>
      <a href="#top">
      <button id="back-to-top-btn">
          <i class="fas fa-angle-double-up"></i>
      </button>
    </a>
    </section>
    {% include footer.html %}
  </body>
</html>
